@import 'variables';

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    border-radius: 13px;
    background: $scroll;
}
::-webkit-scrollbar-thumb:hover {
    background: $scroll-background;
}