$primary-color: rgb(198, 198, 198);
$background-color: black;
$case: pink;
$heading: rgb(201, 10, 74);

$font: "Pixelify Sans", sans-serif;
$font-size: medium;
$transition: all ease-in-out 0.3s;

$link-color: palevioletred;

$scroll: pink;
$scroll-background: $link-color;

$block-color: $link-color;